<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Janika Expressions</title>
    <!-- css cdn -->
    <link rel="stylesheet" href="/static/style.css">
    <!-- Bootstrap cdn -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
    <!-- Navbar -->
   <nav class="navbar navbar-expand- navbar-light bg-light fixed-top">
    <div class="container px-lg-5 px-2">
        <div class="navbar-brand text-center order-1">
            <span class="d-block">Janika</span>
            <span class="d-block">Expression</span>
        </div>
    <div>
        <button class="navbar-toggler me-2 border-0 outline-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
            <span class="navbar-toggler-icon"></span>
        </button>
        <span class="d-lg-inline d-none">By Apointment Only</span>
    </div>
    <div class="offcanvas offcanvas-start w-lg-25" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header bg-dark text-light">
            <h5 class="offcanvas-title" id="offcanvasExampleLabel">Janika Expression</h5>
            <button type="button" class="btn-close bg-light" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="flex-shrink-0 p-3 border" >
                <ul class="list-unstyled ps-0">
                <li class="mb-1">
                    <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
                    Overview
                    </button>
                    <div class="collapse show" id="home-collapse">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a href="{{url_for('index')}}" class="link-dark rounded">Home</a></li>
                        <li><a href="/gallery.html" class="link-dark rounded">Gallery</a></li>
                        <li><a href="#" class="link-dark rounded">Reports</a></li>
                    </ul>
                    </div>
                </li>
                <li class="mb-1">
                    <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
                    About
                    </button>
                    <div class="collapse" id="dashboard-collapse">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a class="link-dark rounded" href="">Meet janika</a></li>
                        <li><a class="link-dark rounded" href="#">Blog</a></li>
                        <li><a class="link-dark rounded" href="#">Privacy Policy</a></li>
                        <li><a class="link-dark rounded" href="">F.A.Q</a></li>
                        <li><a href="/testimonial.html" class="link-dark rounded">Testimonials</a></li>
                    </ul>
                    </div>
                </li>
                <li class="mb-1">
                    <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
                    Visit
                    </button>
                    <div class="collapse" id="orders-collapse">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a href="#" class="link-dark rounded">Location</a></li>
                        <li><a href="/contact.html" class="link-dark rounded">Booking and contact</a></li>
                        <li><a href="#" class="link-dark rounded">The Depot</a></li>
                        <li><a href="#" class="link-dark rounded">Gift</a></li>
                    </ul>
                    </div>
                </li>
                <li class="border-top my-3"></li>
                <li class="mb-1">
                    <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
                    Account
                    </button>
                    <div class="collapse" id="account-collapse">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a href="#" class="link-dark rounded">Associates</a></li>
                        <li><a href="#" class="link-dark rounded">Profile</a></li>
                        <li><a href="#" class="link-dark rounded">Settings</a></li>
                        <li><a href="#" class="link-dark rounded">Sign out</a></li>
                    </ul>
                    </div>
                </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="navbar order-1">
        <a href=""><button class="btn btn-dark btn-sm">Login</button></a>
        <a href="/signup.html"><button class="btn btn-light btn-sm">Sign up</button></a>
    </div>
    </div>
</nav>
<!-- Navbar end -->

<main>
    <!-- Top hero image -->
    <section>
        <div id="myCarousel" class="carousel slide mb-lg-5 mb-4 container px-lg-5 px-4 mt-5 pt-5" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="/static/images/u6yJZ2V5RKf8kGJbE.webp" class="bd-placeholder-img" alt="">
              <div class="carousel-caption text-start justify-content-center">
                <h1>Example headline.</h1>
                <p class="opacity-75">Some representative placeholder content for the first slide of the carousel.</p>
                <!-- <p><a class="btn btn-lg btn-primary" href="#">Sign up today</a></p> -->
              </div>
            </div>
          </div>
        </div>
        
          
          <div class="text-center mb-5 px-lg-5 px-2">
              <span class="d-block"><h3>Bespoke and Semi-Bespoke Services.</h3></span>
              <span class="d-block"><h3>Alterations and Repairs.</h3></span>
              <span class="d-block"><h3>Styling and Events.</h3></span> 
              <button class="btn btn-lg btn-dark rounded-0 mt-3">Book Apointment</button>
          </div>
    </section>

    <!-- The NST "Groom Guide" -->
    <section>
        <div class="container px-lg-5 mt-5 pt-5 px-0">
            <div class="text-center mb-2">
                <h3>The NST "Groom Guide"</h3>
            </div>
            <div id="myCarousel" class="carousel carousel-2 slide mb-2 mt-4 container px-lg-5 px-4" data-bs-ride="carousel">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="/static/images/bespoke-suits-single.jpg" class="img-fluid" alt="bespoke-suits-bgorange" srcset="">
                  </div>
                  <div class="carousel-item">
                    <img src="/static/images/bespoke_suit_dark.jpg" class="img-fluid" alt="">
                  </div>
                  <div class="carousel-item">
                    <img src="/static/images/bespoke-suits-bgorange.jpg" alt="">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
            </div>

            <div class="text-center mt-3 px-lg-5 px-4 mt-4">
                <h5>Dan's vibrant pop of colour.</h5>
                <p>Janika Expression presents the Groom's guide to wearing a tailored suit on their wedding day. These real life grooms explain the incredible process of having a suit made for their big day.  Honest feedback from customer's after the full experience.</p>
            </div>

            <div class="row px-lg-5 px-4 mt-5 g-4">
                <div class="col-lg-6 col-12 text-center">
                    <div class="">
                        <div class="bg-image-cndex" style="border-top-left-radius: 15px;border-bottom-right-radius: 15px;">
                            
                        </div>
                        <!-- <img src="/Images/gentlemen_suit.jpg" class="img-fluid" alt=""  id="cndex-img"> -->
                        <h5 class="mb-3 mt-4">Sam's classic three-piece suit with detail waistcoat.</h5>
                        <p>When you know nothing will fit you off the peg, Sam describes how it felt to have a classic suit tailored to his body</p>
                    </div>
                </div>
                <div class="col-lg-6 col-12 text-center">
                    <div>
                        <div class="bg-image-cndex">
                            
                        </div>
                        <h5 class="mb-3 mt-4">Rob's three-piece dinner suit.</h5>
                        <p>Rob went full 007 with his Bond inspired three-piece Dinner suit for his wedding in the South of France. </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--  Made by Janika Expression -->
    <!-- <section>
        <div class="bg-light mt-5 p-lg-5 p-3">
            <div class="container p-2 px-lg-5 px-2">
                <div class="text-center">
                    <h3>Every garment unique - Designed by you - Made by Janika</h3>
                </div>
                <div class="row text-center mx-auto mt-2 g-4">
                    <div class="col-lg-4 col-12">
                        <div class="">
                          <div class="image-containe">
                            <div class="image-wrapper">
                              <img src="/static/images/suit.jpg" class="img-fluid responsive-image" alt=""  style="height: 20rem;width: 20rem;">
                            </div>
                          </div>
                            <h4 class="mt-4 mb-4">Suits</h4>
                            <p>Classic Bespoke or modern Semi-bespoke. You will never feel better then when you wear a Janika Simon Suit.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-12">
                        <div class="">
                          <div class="image-container">
                            <div class="image-wrapper">
                              <img src="/static/images/sports_jacket.jpg" class="img-fluid responsive-image" alt=""  style="height: 20rem;width: 20rem;">
                            </div>
                          </div>
                            <h4 class="mt-4 mb-4">Sports Jackets</h4>
                            <p>Sports jackets, blazers and casual wear. If you are not wearing a suit then keep it stylish with a versatile jacket that you can dress up or down.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-12">
                        <div class="">
                          <div class="image-containe">
                            <div class="image-wrapper">
                              <img src="/static/images/dinner_suits.jpg" class="img-fluid responsive-image" alt=""  style="height: 20rem;width: 20rem;">
                            </div>
                          </div>
                            <h4 class="mt-4 mb-4">Dinner Suits</h4>
                            <p>Get ready for that special event, gala dinner, charity auction or wedding. Choose a classic dinner suit, eccentric smoking jacket one off statement suit.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
</main>


    <!-- Bootstrap cdn -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>

</body>
</html>